*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: 2px solid red; */
}

:root{

    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}

body{
    background: var(--eye-ball);
}

/* BASIC STYLING */

a{
    text-decoration: none;
    color: var(--lead);
    font-size: 1rem;
}

.flex{
    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}


li{
    list-style: none;
}
.between{
    justify-content: space-between;
}

.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}
.wrapper{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}


img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.humburger{
    color: var();
}



.mt-4{
    margin-top: 4rem;
}

.mt-half{
    margin-top: .7rem;
}

.mt-auto{
    margin: auto;
}


.mt-one-half{
    margin-top: 1.5rem;
}

.mb-one-half{
    margin-bottom: 1.5rem;
}

.pt-pb-gap-2{
    padding: 2rem auto 2rem auto;
}

/* HEADER STYLING */

.navbar{
    min-height: 14vh;

}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gold-finger);
}

.btn{
    display: inline-block;
    padding: .5rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.435) 0 2px 1px;
}


.cart-icon{

    color: var(--lead);
    font-size: 1.3rem;
}

.cart-icon .cart-value{
    position: relative;
    top: .5rem;
    right: 27%;
    width: 20px;
    font-size: 1.2rem;
    background: var(--gold-finger);
    border-radius: 100vw;
    aspect-ratio: 1;
    color: var(lead);
    text-align: center;
    line-height: 20px;
    

}

.desktop-action{
    display: flex;
    justify-content: space-around;

}

.mobile-menu{
  display: none; 

}
/* SECTION STYLING*/





.hero-section{
    min-height: calc(100vh - 14vh);
}

.content,
.image-container,
.service-card
{
    flex: 1;
    flex-basis: 300px;
}

h1{
    font-size: 4vw;
    color: var(--lead);

}

h1 span{
    color: var(--gold-finger);
}


p{
    font-size: 1rem;
    color: gray;
    line-height: 1.2rem;
    font-weight: 300;
}

.para{
    margin-block: 2rem;
    max-width: 550px;
}


.social-icon{
    background: var(--hint-yellow);
    width: 3rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    aspect-ratio: 1;
    line-height: 3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .5s ease-in-out;

}
/* SECTION-01 */

.p-top{
    margin-top: 20px;

}

.text-center{
   text-align: center;
   margin-top: 4rem;

}

 h5{
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--gold-finger);
    letter-spacing: .1rem;
}

 h2{
    font-size:2rem;
    text-align: center;
    color: var(--lead);
    
}

h3{
    font-size: 1.8rem;
    text-align: center;
    color: var(--lead);
    margin-top: -2rem;
}
.service-card h3{
    margin-top: 2rem;
    margin: 1rem;
}

/* SECTION-02 */


.order-card img{
    width: 15rem;
    filter: drop-shadow(
        rgba(0, 0, 0, 0.63) 0 10px 10px
    );

}

.order-card{
        flex: 1;
        flex-basis: 300px;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        padding: 0 1rem 2rem 1rem;
        margin: 1rem;
        box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        
}
h4{
    font-size: 1.3rem;
    
}

.order-card .price{
    font-size: 1.5rem;
    padding: 1.3rem 0 2rem 0;
    color: var(--gold-finger);
}


/* CARTTAB STYLING */


.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0,0, 0, 0.4) -8px 9px 18px;
    transition: .3s ease-in-out;
}


.cart-tab-active{
    inset: 0 0 0 auto;
}
.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;

   
}
.cart-list::-webkit-scrollbar{
    width: 0;
}

.cart-list .item:nth-child(even){
    background-color: var(--eye-ball);
}


 .total-container{
    width: 100%;
    background: var(--gold-finger);
    margin-block: 1rem;
    padding-block: 1rem;
    text-align: center;
 } 

.total-container h4 {

    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
   
 }

 .btn-container .btn{
    background: var(--lead);
    transition: .3s ease-in-out;
    
 }

.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem 1rem;
}
 .item .item-image img{
    width: 5rem;

 }

 .item h4{
    font-size: 1rem;
    color: var(--lead);
    
}


.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}



 .quantity-btn{
    background: var(--lead);
    color: var(--pure-white);
    border-radius: 50%;
    width: 1.5rem;
    aspect-ratio: 1;
    line-height: 1.5rem;
    text-align: center;

    
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}
.cart-remove{
    font-weight: 200;
    position: relative;
    top: -1rem;
    right: -10rem;
    font-size: 2rem;
    color: var(--lead);
    box-shadow: rgba(0,0, 0, 0.1) -3px 2px -3px;
}







 
 















/* SECTION -03 */

.swiper{
    width: 100%;
    height: 100%;
}

.profile{
    width: 4rem;
    border-radius: 100vw;
    aspect-ratio: 1;
    overflow: hidden;
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fa-star{
    color: var(--gold-finger);
}

.arrow{
    width: 2.5rem;
    background: var(--gold-finger);
    border-radius: 1.5rem;
    aspect-ratio: 1;
    text-align: center;
    line-height: 2.5rem;
    color: var(--lead);
}

.review-container{
    width: 650px;
    max-width: 100%;

}

/* SECTION-04 STYLING */

.app-container{
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 2.5rem;
    
}
.app-container h2{
    font-size: 3rem;
    text-align: justify;
}

.app-container h5{
    font-size: 1rem;
    text-align: justify;
    
}

.app-container img{
    width: 25rem;
}


/* SECTION-05 STYLING */


.input-container{
    width:43rem;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.751) 0 5px 8px;
    padding: 0.8rem;
    border-radius: .5rem;
    background: var(--pure-white);
   
   
}

input[type="email"]{
    font-size: 1rem;
    background: transparent;
    border: none;
    margin-right: 15rem;

}

input[type="email"] :focus{
    outline: none;
}












/* HOVER STYLING */

.btn :hover{
    background-color: var(--lead);

}
.social-icon :hover {
    background: var(--lead);
    color: var(--pure-white);
}
.footer-wrapper .social-icon :hover{
    background-color: var(--lead);
    color: var(--pure-white);
}
.footer-link:hover{
    color: var(--lead);
}
#email :hover{
    opacity:  none;
}

.btn-container .btn:hover{
    background: var(--gold-finger);
    color: var(--lead);
}


/* FOOTER STYLING */

.footer-container{
    background: var(--hint-yellow);
    margin-top: 7rem;
    padding: 3rem 0 3rem 0

    ;
}



.footer-link{
    font-size: 1.1rem;
    color: gray;
    transition: .3s ease-in-out;
}


.footer-wrapper{
    flex: 1;
}


.footer-wrapper:nth-child(1){
    flex: 2;
}

.footer-container .flex{
    align-items: flex-start;
 
} 

.footer .social-icon{
    background-color: var(--pure-white);
}






/* media queries */

@media screen and (max-width: 780px) {

    /* HEADER STYLING */
    .navlist,
    .desktop-action .btn{
        display: none;
    }

    /* .desktop-action,
    .humburger{
        display: block;
        
    } */
    .desktop-action .humburger{
        max-width: 200px;
        font-size: 1.5rem;
    display: none;
}

    .humburger{
        color: var(--lead);
        
    }
    .mobile-menu{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform:translateX(-50%) ;
        padding: 2rem;
        width: 20rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 5%;
        box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 8px,
        rgba(0, 0, 0, 0.5) 8px 8px 8px inset;
        transition: all .5s ease-in-out;
        display: none;
    }
    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }

    /* SECTION STYLING */
    h1{
        font-size: 3.6rem;
        
    }
    .content{
        padding-top: 3rem ;

    }
    .gap-2{
        gap: 1.4rem;

 
    }
    .gap-4{
        gap: 1.4rem;

    }

    /* section-04 */

    .app-container{
        padding: 2.2rem;
    }
    .app-container content h2{
        font-size: 3.5rem;
    }

    /* footer part */

    

}




